<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>重置密码</h2>
	</div>
		<div class="tab-wrap">
		
		<div class="tab-content">
	<!-- 修改密码表单 -->
	<form action="{:U('User/resetPassword')}" method="post" class="form-horizontal">
		<div class="form-item">
			<label class="item-label">账户ID：{$data['id']}</label>
		</div>
		<div class="form-item">
			<label class="item-label">账户名：{$data['username']}</label>
		</div>
		<div class="form-item">
			<label class="item-label">重置密码：</label>
			<div class="controls">
				<input type="password" name="password" class="text input-large" autocomplete="off" />
			</div>
		</div>
		<div class="form-item">
			<label class="item-label">确认重置密码：</label>
			<div class="controls">
				<input type="password" name="repassword" class="text input-large" autocomplete="off" />
			</div>
		</div>
		<div class="form-item">
			<input type="hidden" name="id" value="{$data['id']}" />
			<button type="submit" class="btn submit-btn ajax-post" target-form="form-horizontal">确 认</button>
			<button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
		</div>
	</form>
			</div>
	</div>
</block>

<block name="script">
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>
</block>
