<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <title>互动力官网--全球首家基于区块链的互动交流平台</title>
        <link rel="stylesheet" type="text/css" href="__CSS__/login.css" />
        
        <script type="text/javascript" src="__JS__/new_index/jquery.min.js"></script>
        <style type="text/css">
           /*.hdt-input {
                padding-left: 35px;
                background: url(__IMG__/new_index/password.png) 10px center no-repeat;
                width: 92%;
           }*/
           .stop-btn {
                pointer-events: none;
                background: #818181;
            }
           .hdt-input {
            padding-left: 10%;
            background: url(__IMG__/new_index/password.png) 10px center no-repeat;
            background-size: 5%;
            width: 90%;
           }   
        </style>
        </style>
    </head>
    <body>
        <div class="page-content">
            <div class="login-box">
                <a class="login-box" href="#"><img src="Public/Home/images/new_index/hdt-logo.png"  alt=""/></a>
            </div>
            <div class="login-from">
                <div class="login">
                    <div>
                        <label for="phone">
                        	输入您的密码
                        	<!--<if condition="$lang eq 1">输入你的密码<else/>Enter Your new password</if>-->
                        </label>
                        <input class="hdt-input" type="password" name="password" id="password" value="" placeholder="输入6~20位数字或字母"/>
                    </div>
                    <div class="repeat">
                        <label for="phone">
                        	确认您的密码
                        	<!--<if condition="$lang eq 1">确认你的密码<else/>Repeat Your password</if>-->
                        </label>
                        <input  class="hdt-input" type="password" name="pwdRepeat" id="pwdRepeat" placeholder="输入6~20位数字或字母" value="" />
                    </div>
                    <button class="hdt-btn stop-btn">
                    	下一步
                    	<!--<if condition="$lang eq 1">下一步<else/>Next</if>-->
                    </button>
                    
                </div>
            </div>
            <div class="code-btn" style="display: none;">
                <span></span>
            </div>
            <span class="footer">
                INTERACTION PRODUCES VALUE
            </span>
        </div>
       <!--  <footer>
            INTERACTION PRODUCES VALUE
        </footer> -->
    </body>
</html>
<script type="text/javascript">
/*var inputTextBox = document.getElementById('input-text-box');
setInterval(function(){
  inputTextBox.scrollIntoView(false);
},200)
var inputTextBox = document.getElementById('input-text');
setInterval(function(){
  inputTextBox.scrollIntoView(false);
},200)*/
$('.hdt-input').bind('input propertychange', function() {
     var cc = $(this).val().length;
     if(cc >= 6 && cc <= 20 ) {
        $('.login button').removeClass('stop-btn');
     } else {
        $('.login button').addClass('stop-btn');
     }
});
</script>
<script type="text/javascript">
$('.hdt-btn').click(function(){
    var pwd = $("#password").val();
    var pwdRepeat = $("#pwdRepeat").val();
    $.post("{:U('public/set_password')}",{pwd:pwd,pwdRepeat:pwdRepeat},function(result){
        if(result){
            console.log(result)
            if(result.info){
                $('.code-btn span').html(result.info);
                $('.code-btn').show();
                setInterval(function(){
                    $('.code-btn').hide();
                 }, 2000);    
            }

            if(result.url){
                window.location.href = result.url;
            }
        }
    });

});
</script>