<include file="Public/head"/>  
<link href="__CSS__/information.css" rel="stylesheet" type="text/css" media="all">

<div class="bg">
   <form action="{:U('login/index')}" method="post" name="fromart" id="fromart" onSubmit="return oncheck();">
	<div class="table"> 
        <table>
            <tr>
               <td>请输入手机号：</td>
               <td align="left"><input type="text" id="mobile" name="mobile" value=""/> <font color="#FF0000">*</font></td>
            </tr>
            
			<tr>
           		<td>请输入密码：</td>
                <td align="left"><input type="password" id="pwd" name="pwd" value=""/> <font color="#FF0000">*</font></td>
            </tr>
			
			
			<tr>
           		<td>请输入验证码：</td>
                <td align="left"> <div class="item verifycode">
                                <i class="icon-login-verifycode"></i>
                                <input type="text" name="verify" placeholder="请填写验证码" autocomplete="off">
                                <a class="reloadverify" title="换一张" href="javascript:void(0)">换一张？</a>
                            </div>
				 <font color="#FF0000">*</font></td>
            </tr>
			
			 <tr>
			    <td colspan="2" align="center">
                  <div><img class="verifyimg reloadverify" alt="点击切换" src="{:U('Login/verify')}"></div>
			    </td>
			</tr>
			
			
		    <tr>
			    <td colspan="2">
    	          <input name="sbt" type="submit" value="登录">
		          <input name="rst" type="reset" value="取消"></div>
			    </td>
			</tr>
		  </table>
	 </div>	
	</form>
</div>

<script type="text/javascript">
function oncheck(){
  
	if(document.getElementById("phone")!=null&&get_obj('phone').value==''){
		alert("手机号码不能为空");
		get_obj('phone').focus();
		return false;
	}
	
	if(document.getElementById("pwd")!=null&&get_obj('pwd').value==''){
		alert("密码不能为空");
		get_obj('pwd').focus();
		return false;
	}

}

  function checkRate(input)
  {
      var re =/^(((13[0-9]{1})|(14[0-9]{1})|(15[0-9]{1})|(17[0-9]{1})|(18[0-9]{1}))+\d{8})$/;   //判断字符串是否为11位数字     
      var nubmer = document.getElementById(input).value;
     
	 
      if (!re.test(nubmer)){
         alert("请输入正确的手机号");
         document.getElementById(input).value = "";
         return false;
      }
  }
 
 </script>
 <script type="text/javascript">
    	/* 登陆表单获取焦点变色 */
    	$(".login-form").on("focus", "input", function(){
            $(this).closest('.item').addClass('focus');
        }).on("blur","input",function(){
            $(this).closest('.item').removeClass('focus');
        });

    	//表单提交
/*    	$(document)
	    	.ajaxStart(function(){
	    		$("button:submit").addClass("log-in").attr("disabled", true);
	    	})
	    	.ajaxStop(function(){
	    		$("button:submit").removeClass("log-in").attr("disabled", false);
	    	});*/

/*   	   $("form").submit(function(){
    		var self = $(this);
			$.post(self.attr("action"), self.serialize(), success, "json");
    		return false;

    		function success(data){
			   
    			if(data.status){
    				window.location.href = data.url;
    			} else {
    				self.find(".check-tips").text(data.info);
    				//刷新验证码
    				$(".reloadverify").click();
    			}
    		}
    	});*/

		$(function(){
		    $(".reloadverify").click();
			//初始化选中用户名输入框
			$("#itemBox").find("input[name=username]").focus();
			//刷新验证码
			var verifyimg = $(".verifyimg").attr("src");
            $(".reloadverify").click(function(){
                if( verifyimg.indexOf('?')>0){
                    $(".verifyimg").attr("src", verifyimg+'&random='+Math.random());
                }else{
                    $(".verifyimg").attr("src", verifyimg.replace(/\?.*$/,'')+'?'+Math.random());
                }
            });

            //placeholder兼容性
                //如果支持 
            function isPlaceholer(){
                var input = document.createElement('input');
                return "placeholder" in input;
            }
                //如果不支持
            if(!isPlaceholer()){
                $(".placeholder_copy").css({
                    display:'block'
                })
                $("#itemBox input").keydown(function(){
                    $(this).parents(".item").next(".placeholder_copy").css({
                        display:'none'
                    })                    
                })
                $("#itemBox input").blur(function(){
                    if($(this).val()==""){
                        $(this).parents(".item").next(".placeholder_copy").css({
                            display:'block'
                        })                      
                    }
                })
                
                
            }
		});
    </script>

<include file="Public/footer"/>

