/* 
* @Author: anchen
* @Date:   2018-01-16 16:46:58
* @Last Modified by:   anchen
* @Last Modified time: 2018-01-16 17:36:44
*/
@media (max-width: 1281px) {
    .flipper {
        position: relative;
        -moz-backface-visibility: hidden;
        width: 100%;
        text-align: center;
    }
    .front-content {
      width: 100%;
      height: 770px;
      padding: 0 10%;
    } 
    .rhomb-wrapper {
        display: inline-block;
        margin-left: 0;
        border-radius: 50%;
    }
    .front {
      width: 100%;
      z-index: 2;
      float: left;
      text-align: center;
    }
    .flip-container {
      width: 100%;
    }
    .rhomb span {
        float: left;
        width: 100%;
        padding-top: 566px !important;
        font-size: 54px;
        text-align: center;
        color: #fff;
        font-family: '幼圆';
    }
    .title-big img {
        width: 50%;
    }
     .title-special {
        font-size: 36px;
    }
     .title-big span {
        font-size: 140px;
        line-height: 160px;
    }
    .title-small, .title-smaller {
       
        font-size: 42px;
    }
    .planet-big-content p {
        font-size: 28px;
    }
    .btn-big {
        height: 50px;
        padding: 0 65px;
        line-height: 50px;
        font-size: 28px;
        box-shadow: 0 5px #017e4c;
    }
    .title-medium {
        font-size: 68px;
    }
    .title-small, .title-smaller {
        font-size: 54px;
    }
    .text {
        font-size: 36px;
        line-height: 42px;
    }
    .rhomb p {
        
        font-size: 36px;
        padding: 0 20% 20px 20%;
        
    }
    .steps li {
        width: 100%;
        height: 850px;
        margin-left: 1%;
        text-align: center;
    }
    ul {
        height: 3400px;
        
    }
    .steps h4 {
        font-size: 54px;
        color: #fff;
    }
    .steps li .step-text {
        font-size: 36px;
        padding: 0 20%;
        line-height: 42px;
    }
    .screen-4 {
        height: 1050px !important;
    }
    .planet-3-area dl {
        float: left;
        width: 100%;
      
        /* padding: 0 10%; */
    }
    .planet-3-area dl dt {
        float: left;
        width: 100%;
        padding: 0 20%;
    }
    .planet-3-area dl dt img {
        width: 100%;
    }
    .planet-3-area dl dd {
        width: 100%;
        padding: 0 10%;
        margin: 0;
    }
    .planet-3-area dl dd span,.planet-3-area dl dd p {
        font-size: 48px;
        text-align: center;
    }
    .team {
        height: 4700px;
    }
    .touzi .planet-3-area dl {
        float: left;
        width: 100%;
        
        /* padding: 0 10%; */
    }
    .plan .ptime {
        font-size: 36px;
    }
    .plan .pitem {
        font-size: 36px;
        line-height: 42px;
    }
    .plan .plan-time .line {
        height: 60px;
    }
    .btn-small {
        font-size: 36px;
        height: 60px;
        line-height: 60px;
    }
    .block-bottom-content {
        right: 50px;
    }
    .plan-time ul {
        height: 1000px;
    }
    .bottom {
        float: left;
        width: 100%;
        height: 750px;
        background: #041528;
        padding: 0 5%;
    }
    .bottom-left {
        float: left;
        width: 100%;
        padding-top: 60px;
    }
    .bottom-left .logo {
        text-align: center;
    }
    .detail-text {
        
        text-align: center;
    }
    .detail-text span {
        font-size: 36px;
    }
    .bottom-right {
        width: 100%;
        padding-left: 95px;
    }
    .bottom-right dl dd {
        font-size: 36px;
    }
}
@media (max-width: 1281px) {
    .screen-4 {
        height: 1500px !important;
    }
    .planet-big-content p {
        width: 880px;
        margin: 0 auto 40px;
    }
    .planet-big-content {
        top: 685px;
    }
    .tiny-stars {
        top: 1000px;
    }
    .rhomb-wrapper {
        height: 880px;
    }
    .steps li {
        width: 100%;
        height: 1000px;
        margin-left: 1%;
        text-align: center;
    }
    .rhomb img {
        width: 50%;
    }
    .steps li img {
        width: 39%;
    }

}